<!-- BEGIN: main -->
    <div align="center">
        <table class="tabla_grid" style="width: 75%">
            <tr>
                <th colspan="2">Catálogos</th>
            </tr>
            <tr>
                <td>Arancel:</td>
                <td>
                    <input type="hidden" name="id_arancel" id="id_arancel" value=""/>
                    <textarea id="arancel" 
                              name="arancel" 
                              value=""
                              onclick="pickOpen('arancel', 
                                          'id_arancel', '../../../{APPORG}/pickList/control/arancel/', 
                                           80, 75, 100, 10, 'si');"
                              readonly
                              rows="5"
                              cols="100"                                                 				  
                              style='resize:none;width:98%;';
                              placeholder='SELECCIONE...'></textarea>
                </td>
            </tr>
            <tr>
                <td>CIIU:</td>
                <td>
                    <input type="hidden" name="id_ciiu" id="id_ciiu" value=""/>
                    <input id="ciiu" 
                              name="ciiu" 
                              value=""
                              style="width:98%;"
                              onclick="pickOpen('ciiu', 
                                          'id_ciiu', '../../../{APPORG}/pickList/control/ciiu/', 
                                           80, 75, 100, 10, 'si');"
                              readonly
                              style='resize:none;width:98%;';
                              placeholder='SELECCIONE...'>
                </td>
            </tr>
            <tr>
                    <td>Cód-Tel-Cel:</td>
                    <td>
                        <input type="hidden" 
                               name="id_cel_cod" 
                               id="id_cel_cod"  
                               value="">
                        <input type="text" 
                               name="cel_cod" 
                               id="cel_cod" 
                               value=""
                               style="width:98%;"
                               onclick="pickOpen('cel_cod', 
                                                 'id_cel_cod', '../../../{APPORG}/pickList/control/tel_cod_area_cel/', 
                                                 15, 27, 400, 100, 'si');" 
                               readonly
                               placeholder="SELECCIONE..."> 
                    </td>
            </tr>
            </tr>
                <tr>
                    <td>Cód-Tel-Ext:</td>
                    <td>
                        <input type="hidden" 
                               name="id_ext_cod" 
                               id="id_ext_cod"  
                               value="">
                        <input type="text" 
                               name="ext_cod" 
                               id="ext_cod" 
                               value=""
                               style="width:98%;"
                               onclick="pickOpen('ext_cod', 
                                                 'id_ext_cod', '../../../{APPORG}/pickList/control/tel_cod_area_ext/', 
                                                 15, 55, 400, 100, 'si');" 
                               readonly
                               placeholder="SELECCIONE..."> 
                    </td>
            </tr>
                <tr>
                    <td>Cód-Tel-Nac:</td>
                    <td>
                        <input type="hidden" 
                               name="id_local_cod" 
                               id="id_local_cod"  
                               value="">
                        <input type="text" 
                               name="local_cod" 
                               id="local_cod" 
                               value=""
                               style="width:98%;"
                               onclick="pickOpen('local_cod', 
                                                 'id_local_cod', '../../../{APPORG}/pickList/control/tel_cod_area_nac/', 
                                                 15, 55, 400, 100, 'si');" 
                               readonly
                               placeholder="SELECCIONE..."> 
                    </td>
            </tr>
            <tr>
                <td>Color:</td>
                <td>
                    <input type="hidden"
                           name="id_color"
                           id="id_color"
                           size="2"
                           value=""/>
                    <input type="text"
                           name="color"
                           id="color"  
                           value=""
                           style="width: 98%"
                           onclick="pickOpen('color', 
                                             'id_color', '../../../{APPORG}/pickList/control/color/',
                                              35, 75, 200, 50);"
                           placeholder='SELECCIONE...'
                           readonly/>
                </td>
            </tr>
            <tr>
                <td>Embalaje:</td>
                <td>   
                    <input type="hidden" 
                           name="id_embalaje" 
                           id="id_embalaje">
                    <input type="text" 
                           name="embalaje"
                           id="embalaje" 
                           style="width:98%;" 
                           onclick="pickOpen('embalaje', 
                                             'id_embalaje', 
                                             '../../../{APPORG}/pickList/control/embalaje/', 
                                             15, 65, 200, 50, 'si');" 
                           readonly
                           placeholder='SELECCIONE...'>                                    
                </td>
            </tr>
            <tr>
                <td>Evaluación:</td>
                <td>   
                    <input type="hidden" 
                           name="id_evaluacion" 
                           id="id_evaluacion">
                    <input type="text" 
                           name="evaluacion"
                           id="evaluacion" 
                           style="width:98%;" 
                           onclick="pickOpen('evaluacion', 
                                             'id_evaluacion', 
                                             '../../../{APPORG}/pickList/control/evaluacion/', 
                                             15, 30, 200, 50, 'si');" 
                           readonly
                           placeholder='SELECCIONE...'>                                    
                </td>
            </tr> 
            <tr>
                <td>Moneda:</td>
                <td>
                    <input type="hidden" 
                           name="id_moneda" 
                           id="id_moneda"  
                           value=""/>
                    <input type="text" 
                           name="moneda" 
                           id="moneda"                   
                           style="width:98%;"
                           onclick="pickOpen( 'moneda', 'id_moneda', '../../../{APPORG}/pickList/control/moneda/', 30, 75, 300, 50, 'si');" 
                           readonly
                           placeholder='SELECCIONE...'
                           value="">
                </td>
            </tr>
            <tr>
                <td>País:</td>
                <td>   
                    <input type="hidden" 
                           name="id_pais" 
                           id="id_pais">
                    <input type="text" 
                           name="pais"
                           id="pais" 
                           style="width:98%;" 
                           onclick="pickOpen('pais', 
                                             'id_pais', 
                                             '../../../{APPORG}/pickList/control/pais/', 
                                             15, 65, 200, 50, 'si');" 
                           readonly
                           placeholder='SELECCIONE...'>                                    
                </td>
            </tr> 
            <tr>
                <td>Ubicación Geográfica</td>
                <td>
                   <input class="data" type="hidden" name="id_lugar_geo" id="id_lugar_geo" value=""/>
                    <textarea id="lugar_geo"
                              name="lugar_geo"
                              onclick="pickOpen( 'lugar_geo',
                                         'id_lugar_geo',
                                         '../../../{APPORG}/pickList/control/lugar_geo/',
                                         30, 75, 300, 50, 'si');"
                              readonly
                              rows="4"
                              cols="100"                                                 				  
                              style='resize:none;width:98%;';
                              placeholder='SELECCIONE...'></textarea>
                </td>
            </tr>
            <tr>
                <td>Unidad de Medida:</td>
                <td>
                    <input type="hidden"
                           name="id_unidad_medida"
                           id="id_unidad_medida"
                           value=""/>
                    <input type="text"
                           name="unidad_medida"
                           id="unidad_medida"
                           value="{DES_UNIDAD_MEDIDA}"
                           style="width:98%;"
                           onclick="pickOpen('unidad_medida',
                                     'id_unidad_medida',
                                     '../../../{APPORG}/pickList/control/unidad_de_medida/', 35, 75, 200, 50, 'si');"
                           readonly
                           placeholder='SELECCIONE...'>
            <div id="msnj_tipMed" class="alerta_mensajes"></div>
        </td>
    </tr>
            <tr>
                <td>Vehículo:</td>
                <td>
                    <input class="data"  
                           type="hidden"
                           name="id_vehiculo"
                           id="id_vehiculo"                                                
                           value=""/>
                    <textarea id="vehiculo"
                              name="vehiculo"
                              rows="4"
                              style="width: 98%"
                              cols="55"
                              data-validation='textarea'
                              onclick="pickOpen('vehiculo', 
                                       'id_vehiculo', '../../../{APPORG}/pickList/control/vehiculo/', 30, 45, 300, 50, 'si');"
                              spellcheck="false"
                              readonly></textarea>
                </td>
            </tr>
        </table>
    </div>
<div>{BUTTONS_PANEL}</div>
<div  id='id_fondo_opaco'  class="fondo_opaco" style="display:none"></div>

