<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Producto</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>

            <th>Categoria</th>
            <th>Producto</th>
            <th>Marca</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{DES_CATEGORIA_FAMILIA}</td>
            <td>{NOMBRE}</td>
            <td>{DES_MARCA}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
