<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<form>
<input type="hidden" name="id" id="id" value='{ID}'>
<input type="hidden" name="padre_id" id="padre_id" value='{ID_AUX}'>
<div id='sub_titulo'>Registro de Categoría</div>
    <div align="center">
        <table class="tabla_grid" style="width: 75%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td colspan="2">
                <table id="id_table_padre" style="width: 100%">
                    <!-- BEGIN: tr -->
                        <tr>
                            <td width="25%">{TR_NOM}</td>
                            <td>{TR_DES}</td>
                    <!-- END: tr -->
                </table>
                </td>
            </tr>
            <tr style="display:{DISPLAY}">
                <td id="id_td_seleccion" width="25%">Selección (nivel 0)</td>
                <td>
                    <select id="id_combo" 
                            name="combo" 
                            style="width: 100%;"
                            onchange="sendNivelGet(this);">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: combo -->
                        <option value={ID_COMBO} {SELECTED_COMBO} label={LABEL_COMBO}>{DES_COMBO}</option>
                        <!-- END: combo -->
                    </select>
                </td>
            </tr>
            <tr class="lospare"><td colspan="2"><hr/></td></tr>
            <tr class="lospare">
                <td align="left" id="id_td_descripcion" width="25%">Descripción (nivel {NIVEL_DES})</td>
                <td>
                    <input id="nombre"
                           name="nombre"
                           type="text" 
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{DESCRIPCION}"
                           {DESCRIPCION_READONLY}>
                </td>
            </tr>
            <!--tr class="lospare">
                <td align="left" id="id_td_tipo_ente" width="25%">Tipo de Ente (nivel {NIVEL_DES})</td>
                <td>
                    <select id="id_ente_tipo" 
                            name="id_ente_tipo" 
                            style="width: 100%;"
                            data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!- BEGIN: ente_tipo ->
                        <option value={ID_ENTE_TIPO} {SELECTED_ENTE_TIPO}>{DES_ENTE_TIPO}</option>
                        <!- END: ente_tipo ->
                    </select>
                </td>
            </tr-->
            <!--tr class="lospare">
                <td align="left" id="id_td_descripcion" width="25%">Alias</td>
                <td>
                    <input id="alias"
                           name="alias"
                           autocomplete="off"
                           type="text" 
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{ALIAS}">
                </td>
            </tr-->
        </table>
    </div>
</form>
{BUTTONS_PANEL}
<!-- END: main -->
