<!-- BEGIN: main -->
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'></div>
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="1">Registro de marca</th>
            </tr>
            <tr>                
                <td>
                    <label>Nombre</label>
                    <input type="text"
                           id="id_nombre"
                           name="nombre"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}"
                           {NOMBRE_READONLY}>
                </td>
            </tr>
            <!--tr>
                <td>Productor Id</td>
                <td>
                    <input id="id_productor_id"
                           name="productor_id"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{PRODUCTOR_ID}">
                </td>
            </tr-->
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
