<!-- BEGIN: main -->
<div id="div_deshacer_modal_empaque" style="position: fixed;padding: 16px;background: #E6E6E6;color: #333;z-index: 2002;border: 5px solid;border-color: gray;border-radius: 10px;left: 15%;top: 15%;width: 50%;height: 50%; overflow:auto; display:none;">
<br/>
    <table width="100%;" class="tabla_grid" id="id_tab_empaque">
        <tr>
            <th colspan="3" align="center"><br/>
                <span style="font-size:20px; font-weight: bold;">E m p a c a r<br/><br/></th>
        </tr>
        <tr>
                <td><label id="label_cantidad"></label>
                    <input id="id_pre_cantidad"
                           name="pre_cantidad"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{EMPAQUE}">
                </td>
                <td><label>Tipo de Empaque</label>
                    <input type="hidden" 
                           name="id_pre_empaque" 
                           id="id_pre_empaque">
                    <input id="pre_empaque"
                           name="pre_empaque"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{EMPAQUE}"
                           onclick="pickOpen('pre_empaque', 
                                             'id_pre_empaque', 
                                             '../../../{APPORG}/pickList/control/embalaje/', 
                                             15, 65, 200, 50, 'si');" 
                           readonly
                           placeholder='SELECCIONE...'>
                </td>
                <td valign="middle">
                    <img class="accion" src="../../../{APPORG}/img/add.svg" align='absmiddle' border="0" onClick="Empaque.add();">
                    <img class="accion" src="../../../{APPORG}/img/delete.svg" align='absmiddle' border="0" onClick="Empaque.remove();" > 
                </td> 
        </tr>
        <tr>
            <td id="id_td_pre_empaque" align="center" colspan="3" style="font-weight:bold;padding-top:3%">
            </td>
            <input type="hidden" id="id_pre_empaque_json">
        </tr>
    </table>
    <div align="center">
        <table class="botonera">
            <tr>
                <td>
                    <button id="id_cancelar_empaque" type=button onClick="Empaque.ModWin.hide('empaque');">
                        <img class="accion" src="../../../{APPORG}/img/cancel.png" align='absmiddle' border="0" >&nbsp;Cancelar
                    </button>
                    <button id="id_guardar_empaque" type=button onClick="Empaque.accept();" {STYLE_DISPLAY}>
                        <img class="accion" src="../../../{APPORG}/img/add.svg" align='absmiddle' border="0" >&nbsp;Aceptar
                    </button>
               </td>
            </tr>
        </table>
    </div>
</div>
<div id="div_deshacer_fondo_opaco" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #2E2E2E; z-index: 2001; opacity:.75; -moz-opacity: 0.75; filter: alpha(opacity=75);display:none;">
</div>
<!-- END: main -->

