<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Presentacion</div>
    <div>
        <table style="cursor:pointer;" onclick="Presentacion.onOffPanel();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_presentacion" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_presentacion" style="display: none;">
        <input id="id_presentacion" name="id_presentacion" value="0" type="hidden">
        <table class="tabla_grid" style="width: 75%">
            <tr>
                <th colspan="2">Datos de Presentación</th>
            </tr>
            <tr>
                <td><label>Unidad de Medida</label>
                    <input type="hidden"
                           name="id_medida_unidad"
                           id="id_medida_unidad"
                           value=""/>
                    <input id="medida_unidad"
                           name="medida_unidad"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           onclick=Presentacion.pickOpen();
                           readonly
                           placeholder='SELECCIONE...'
                           value="{MEDIDA_UNIDAD}">                           
                </td>
                <td colspan="2"><label>Empaque</label>
                    <input type="hidden" 
                           name="empaque" 
                           id="empaque">
                    <textarea id="empaque_desplegado"
                           name="empaque_desplegado"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{EMPAQUE}"
                           readonly
                           placeholder='SELECCIONE...'></textarea>
                </td>
            </tr>
            <tr>
                <td><label>Precio de Costo</label>
                    <input id="precio_costo"
                           name="precio_costo"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{PRECIO_COSTO}">
                </td>
                <td><label>Precio de Venta</label>
                    <input id="precio_venta"
                           name="precio_venta"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{PRECIO_VENTA}">
                </td>
            </tr>
            <tr>
                <td><label>Bar Cod</label>
                    <input id="bar_cod"
                           name="bar_cod"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{BAR_COD}">
                </td>
                <td><label>Int Cod</label>
                    <input id="int_cod"
                           name="int_cod"
                           type="text"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{INT_COD}">
                </td>
            </tr>                   
        </table>
        <br/>
        <button id="addReg" type="button" onClick="Presentacion.valEnvio();">
            <img class="accion" src="../../../{APPORG}/img/add.png" align="absmiddle" border="0" > Agregar
        </button>
        <br/><br/>
    </div>
    <table id="id_tab_presentacion" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Unidad de Medida</th>
                <th>Empaque</th>
                <th>Precio de Costo</th>
                <th>Precio de Venta</th>
                <th>BarCod</th>
                <th>IntCod</th>
                <th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_presentacion -->
            <tr id={ID} class={CLASS_TR}>
                <td>{MEDIDA_UNIDAD}</td>
                <td id='{EMPAQUE_JSON}'>{EMPAQUE_DESPLEGADO}</td>
                <td>{PRECIO_COSTO}</td>
                <td>{PRECIO_VENTA}</td>
                <td>{BAR_COD}</td>
                <td>{INT_COD}</td>
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="Presentacion.edit(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="Presentacion.rqsRemove({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_presentacion -->
        </tbody>
    </table>
</div>
<!-- END: main -->

