<!-- BEGIN: main -->
    <div align="center">
<input type="hidden" name="id" id="id" value='{ID}'>
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="1">Datos del Producto</th>
            </tr>
            <tr>                
                <td><label>Categoría</label>
                    <select id="id_categoria" name="id_categoria" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: categoria -->
                        <option value={ID_CATEGORIA} {SELECTED_CATEGORIA}>{DES_CATEGORIA}</option>
                        <!-- END: categoria -->
                    </select>
                </td>
            </tr>
            <tr>                <td><label>Marca</label>
<!--div class="content-select"-->
                    <select id="id_marca" name="id_marca" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: marca -->
                        <option value={ID_MARCA} {SELECTED_MARCA}>{DES_MARCA}</option>
                        <!-- END: marca -->
                    </select>
<!--/div-->
                </td>
            </tr>
            <tr>
                <td><label>Nombre</label>
                    <input id="nombre"
                           name="nombre"
                           type="text"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}"
                           {NOMBRE_READONLY}>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
