<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Minuta Acuerdo</div>
    <div>
        <table style="cursor:pointer;" onclick="MinutaAcuerdo.onOffPanel();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_minuta_acuerdo" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_minuta_acuerdo" style="display: none;">
        <input id="id_minuta_acuerdo" name="id_minuta_acuerdo" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Responsable</td>
                <td>
                    <input id="responsable"
                           name="responsable"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{RESPONSABLE}">
                </td>
            </tr>
            <tr>
                <td>Acuerdo</td>
                <td>
                    <textarea id="acuerdo"
                              name="acuerdo"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{ACUERDO}</textarea>
                </td>
            </tr>
            <tr>
                <td>Observacion</td>
                <td>
                    <textarea id="observacion"
                              name="observacion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{OBSERVACION}</textarea>
                </td>
            </tr>
        </table>
        <br/>
        <button id="addReg" type="button" onClick="MinutaAcuerdo.valEnvio();">
            <img class="accion" src="../../../{APPORG}/img/add.png" align="absmiddle" border="0" > Agregar
        </button>
        <br/><br/>
    </div>
    <table id="id_tab_minuta_acuerdo" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Responsable</th>
                <th>Acuerdo</th>
                <th>Observacion</th>
                <th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_minuta_acuerdo -->
            <tr id={ID} class={CLASS_TR}>
                <td>{RESPONSABLE}</td>
                <td>{ACUERDO}</td>
                <td>{OBSERVACION}</td>
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="MinutaAcuerdo.edit(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="MinutaAcuerdo.rqsRemove({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_minuta_acuerdo -->
        </tbody>
    </table>
</div>
<!-- END: main -->