<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Minuta Asistente</div>
    <div>
        <table style="cursor:pointer;" onclick="MinutaAsistente.onOffPanel();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_minuta_asistente" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_minuta_asistente" style="display: none;">
        <input id="id_minuta_asistente" name="id_minuta_asistente" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Cedula</td>
                <td>
                    <input id="cedula"
                           name="cedula"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CEDULA}">
                </td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>
                    <input id="nombre"
                           name="nombre"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}">
                </td>
            </tr>
            <tr>
                <td>Correo</td>
                <td>
                    <input id="correo"
                           name="correo"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{CORREO}">
                </td>
            </tr>
            <tr>
                <td>Telefono</td>
                <td>
                    <input id="telefono"
                           name="telefono"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{TELEFONO}">
                </td>
            </tr>
            <tr>
                <td>Ente</td>
                <td>
                    <select id="id_ente" name="id_ente" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: ente -->
                        <option value={ID_ENTE} {SELECTED_ENTE}>{DES_ENTE}</option>
                        <!-- END: ente -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Dependencia</td>
                <td>
                    <select id="id_dependencia" name="id_dependencia" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: dependencia -->
                        <option value={ID_DEPENDENCIA} {SELECTED_DEPENDENCIA}>{DES_DEPENDENCIA}</option>
                        <!-- END: dependencia -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cargo</td>
                <td>
                    <select id="id_cargo" name="id_cargo" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: cargo -->
                        <option value={ID_CARGO} {SELECTED_CARGO}>{DES_CARGO}</option>
                        <!-- END: cargo -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Observacion</td>
                <td>
                    <textarea id="observacion"
                              name="observacion"
                              style="width: 98%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{OBSERVACION}</textarea>
                </td>
            </tr>
        </table>
        <br/>
        <button id="addReg" type="button" onClick="MinutaAsistente.valEnvio();">
            <img class="accion" src="../../../{APPORG}/img/add.png" align="absmiddle" border="0" > Agregar
        </button>
        <br/><br/>
    </div>
    <table id="id_tab_minuta_asistente" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Ente</th>
                <th>Dependencia</th>
                <th>Cargo</th>
                <th>Observacion</th>
                <th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_minuta_asistente -->
            <tr id={ID} class={CLASS_TR}>
                <td>{CEDULA}</td>
                <td>{NOMBRE}</td>
                <td>{CORREO}</td>
                <td>{TELEFONO}</td>
                <td id="{ID_ENTE}">{DES_ENTE}</td>
                <td id="{ID_DEPENDENCIA}">{DES_DEPENDENCIA}</td>
                <td id="{ID_CARGO}">{DES_CARGO}</td>
                <td>{OBSERVACION}</td>
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="MinutaAsistente.edit(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="MinutaAsistente.rqsRemove({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_minuta_asistente -->
        </tbody>
    </table>
</div>
<!-- END: main -->